/* outsourcing-service-section */
.outsourcing-service-root {
  width: 100%;
}
.outsourcing-service-content {
  max-width: 1300px;
  margin: 0 auto;
  padding: 10px 15px;
}
.outsourcing-service-top-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.outsourcing-top-left-part {
  max-width: 60%;
}
.outsourcing-top-left-part h2 {
  font-family: "Poppins", sans-serif;
  font-size: 48px;
  line-height: 1.2;
}
.outsourcing-top-right {
  max-width: 40%;
}
.outsourcing-top-right p {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  display: flex;
  justify-content: flex-end;
  line-height: 1.5;
}
.outsourcing-service-bottom-section {
  display: flex;
  flex-direction: row;
  gap: 40px;
  padding: 40px 0;
}
.outsourcing-bottom-left-part img {
  width: 503px;
  height: 373px;
}
.outsourcing-bottom-right {
  padding: 10px;
}
.outsourcing-bottom-right p {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  padding-left: 30px;
  line-height: 1.5;
}
.outsourcing-bottom-right li {
  padding-left: 30px;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  list-style: none;
  margin-top: 20px;
}
.outsourcing-bottom-right i {
  color: rgb(120, 199, 212);
  margin-left: 5px;
}

/* outsourcing experties secion */
.expertise-section-root {
  width: 100%;
}
.experties-section-content {
  max-width: 1300px;
  margin: 0 auto;
  padding: 10px 15px;
}
.experties-top-part {
  position: relative;
  padding: 20px 0;
  border-bottom: 2px solid transparent;
}
.experties-top-part::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, rgb(50, 203, 230), rgb(6, 41, 155));
  z-index: 1;
}
.experties-top-part h2 {
  font-family: "Poppins", sans-serif;
  font-size: 48px;
  line-height: 1.2;
}
.experties-top-part p {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  margin: 30px 0 30px 0;
}
.experties-bottom-part {
  padding: 30px 0;
}
.experties-bottom-div-1 {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgb(230, 219, 219);
  padding: 20px 0;
}
.experties-bottom-div-1-left {
  max-width: 50%;
}
.experties-bottom-div-1-left h3 {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 600;
  text-decoration: underline;
}
.experties-bottom-div-1-right {
  max-width: 63%;
}
.experties-bottom-div-1-right p {
  font-family: "Inter", sans-serif;
  font-size: 18px;
}

@media (min-width: 941px) and (max-width: 1024px) {
  /* outsourcing-service-section */
  .outsourcing-service-content {
    width: 100%;
  }
  .outsourcing-top-left-part h2 {
    font-family: "Poppins", sans-serif;
    font-size: 44px;
    line-height: 1.2;
    max-width: 96%;
  }
  .outsourcing-service-bottom-section {
    display: flex;
    flex-direction: row;
    gap: 22px;
    padding: 40px 0;
  }
}

@media only screen and (min-width: 700px) and (max-width: 940px) {
  /* outsourcing-service-section */
  .outsourcing-service-content {
    width: 100%;
  }
  .outsourcing-service-top-section {
    flex-direction: column;
  }
  .outsourcing-top-left-part {
    max-width: 100%;
  }
  .outsourcing-top-right {
    max-width: 100%;
  }
  .outsourcing-top-left-part h2 {
    font-size: 41px;
  }
  .outsourcing-top-right p {
    font-size: 17px;
    margin-top: 5px;
  }
  .outsourcing-service-bottom-section {
    gap: 0;
    padding: 25px 10px;
  }
  .outsourcing-bottom-left-part img {
    width: 360px;
    height: 303px;
  }
  .outsourcing-bottom-right p {
    font-size: 16px;
  }
  .outsourcing-bottom-right li {
    font-size: 16px;
    margin-top: 10px;
  }

  /* outsourcing experties section */
  .experties-top-part h2 {
    font-size: 41px;
  }
  .experties-bottom-div-1-right {
    max-width: 60%;
  }
  .experties-bottom-div-1-left h3 {
    font-size: 21px;
  }
}

@media (min-width: 600px) and (max-width: 699px) {
  /* outsourcing-service-section */
  .outsourcing-service-content {
    width: 100%;
  }
  .outsourcing-service-top-section {
    flex-direction: column;
  }
  .outsourcing-top-left-part {
    max-width: 100%;
  }
  .outsourcing-top-right {
    max-width: 100%;
  }
  .outsourcing-top-left-part h2 {
    font-size: 40px;
  }
  .outsourcing-top-right p {
    font-size: 17px;
    margin-top: 5px;
  }
  .outsourcing-service-bottom-section {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
    padding: 25px 10px;
  }
  .outsourcing-bottom-left-part img {
    width: 360px;
    height: 303px;
  }
  .outsourcing-bottom-right p {
    font-size: 16px;
  }
  .outsourcing-bottom-right li {
    font-size: 16px;
    margin-top: 10px;
  }

  /* outsourcing experties section */
  .experties-top-part h2 {
    font-size: 37px;
  }
  .experties-top-part p {
    font-size: 18px;
  }
  .experties-bottom-div-1-right {
    max-width: 57%;
  }
  .experties-bottom-div-1-left h3 {
    font-size: 20px;
  }
  .experties-bottom-div-1-right p {
    font-size: 16px;
  }
}

@media (min-width: 501px) and (max-width: 599px) {
  /* outsourcing-service-section */
  .outsourcing-service-content {
    width: 100%;
  }
  .outsourcing-service-top-section {
    flex-direction: column;
  }
  .outsourcing-top-left-part {
    max-width: 100%;
  }
  .outsourcing-top-right {
    max-width: 100%;
  }
  .outsourcing-top-left-part h2 {
    font-size: 35px;
  }
  .outsourcing-top-right p {
    font-size: 16px;
    margin-top: 5px;
  }
  .outsourcing-service-bottom-section {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
    padding: 25px 10px;
  }
  .outsourcing-bottom-left-part img {
    width: 360px;
    height: 303px;
  }
  .outsourcing-bottom-right p {
    font-size: 16px;
  }
  .outsourcing-bottom-right li {
    font-size: 16px;
    margin-top: 10px;
  }

  /* outsourcing experties section */
  .experties-bottom-div-1 {
    flex-direction: column;
  }
  .experties-top-part h2 {
    font-size: 31px;
  }
  .experties-top-part p {
    font-size: 17px;
  }
  .experties-bottom-div-1-left {
    max-width: 100%;
  }
  .experties-bottom-div-1-right {
    max-width: 100%;
  }
  .experties-bottom-div-1-left h3 {
    font-size: 20px;
  }
  .experties-bottom-div-1-right p {
    font-size: 16px;
    margin-top: 10px;
  }
}

@media only screen and (max-width: 500px) {
  /* outsourcing-service-section */
  .outsourcing-service-content {
    width: 100%;
  }
  .outsourcing-service-top-section {
    flex-direction: column;
  }
  .outsourcing-top-left-part {
    max-width: 100%;
  }
  .outsourcing-top-right {
    max-width: 100%;
  }
  .outsourcing-top-left-part h2 {
    font-size: 29px;
  }
  .outsourcing-top-right p {
    font-size: 16px;
    margin-top: 5px;
  }
  .outsourcing-service-bottom-section {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
    padding: 25px 10px;
  }
  .outsourcing-bottom-left-part img {
    width: 387px;
    height: 350px;
  }
  .outsourcing-bottom-right p {
    font-size: 16px;
    padding: 0;
  }
  .outsourcing-bottom-right li {
    font-size: 16px;
    margin-top: 10px;
    padding-left: 0;
  }

  /* outsourcing experties section */
  .experties-bottom-div-1 {
    flex-direction: column;
  }
  .experties-top-part h2 {
    font-size: 27px;
  }
  .experties-top-part p {
    font-size: 17px;
  }
  .experties-bottom-div-1-left {
    max-width: 100%;
  }
  .experties-bottom-div-1-right {
    max-width: 100%;
  }
  .experties-bottom-div-1-left h3 {
    font-size: 20px;
  }
  .experties-bottom-div-1-right p {
    font-size: 16px;
    margin-top: 10px;
  }
}

@media (min-width: 320px) and (max-width: 400px) {
  /* sec-13 */
  .sec-13-second-div p {
    font-size: 16px;
  }
  /* outsourcing-service-section */
  .outsourcing-service-content {
    width: 100%;
  }
  .outsourcing-service-top-section {
    flex-direction: column;
  }
  .outsourcing-top-left-part {
    max-width: 100%;
  }
  .outsourcing-top-right {
    max-width: 100%;
  }
  .outsourcing-top-left-part h2 {
    font-size: 24px;
  }
  .outsourcing-top-right p {
    font-size: 16px;
    margin-top: 5px;
  }
  .outsourcing-service-bottom-section {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
    padding: 25px 10px;
  }
  .outsourcing-bottom-left-part img {
    width: 307px;
    height: 295px;
  }
  .outsourcing-bottom-right {
    padding: 20px 0;
  }
  .outsourcing-bottom-right p {
    font-size: 16px;
    padding: 0;
  }
  .outsourcing-bottom-right li {
    font-size: 16px;
    margin-top: 10px;
    padding-left: 0;
  }

  /* outsourcing experties section */
  .experties-bottom-div-1 {
    flex-direction: column;
  }
  .experties-top-part h2 {
    font-size: 24px;
  }
  .experties-top-part p {
    font-size: 16px;
    margin: 30px 0 15px 0;
  }
  .experties-bottom-div-1-left {
    max-width: 100%;
  }
  .experties-bottom-div-1-right {
    max-width: 100%;
  }
  .experties-bottom-div-1-left h3 {
    font-size: 20px;
  }
  .experties-bottom-div-1-right p {
    font-size: 16px;
    margin-top: 10px;
  }
}
